@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-sm-12">
        <center>
            <img class="full-image" src="~/Images/SrilankanCargo_logo.png" width="80%;" style="opacity:0.5;" />
        </center>
    </div>

</div>


